body{
	background-color: #4F504A;
}

.main-header{
	padding: 20px;
}

.comment-container table{
	border: none;
}

.comment-row td{
	display: block;
	background-color: #fff;
}

.comment-row .td-author{
	width: 200px; 
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #337AB7;
	color: #fff;
}

.comment-row .td-date{
	width: 180px;
	border: none;
}

.footer {
    height: 60px;
    background-color: #337AB7;
    color: #fff;
    padding-top: 20px;
}

.btn-back{
	margin-right: 20px;
}

.label-create{
	color: #5CB85C;
}